<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<form method="post" enctype="multipart/form-data"
      action="{% url 'forum:fazer_upload_avatar' %}">
    {% csrf_token %}
    <input type="file" name="myfile">
    <input type="submit" value="Upload">
</form>

{% if uploaded_file_url %}
<p>Feito o upload para:
    <a href="{{ uploaded_file_url }}">
        {{ uploaded_file_url }}
    </a>
</p>
{% endif %}
<p>
    <a href="{% url 'forum:info' %}">
        <button type="submit">Voltar</button>
    </a>
</p>
</body>
</html>